.station-header-container {
    display: flex;
    padding-inline-start: $layout-padding;
    align-items: end;
    height: 270px;
    padding-bottom: 24px;

    img {
        height: 230px;
        aspect-ratio: 1;

    }

    .station-text {
        margin-inline-start: 2rem;
        color: $clr3;
        font-weight: 700;

        p {
            font-size: 12px;

        }
        // .station-sub-title{
        //     justify-content: flex-start;
        // }

        .station-name {
            font-size: 96px;
            line-height: 100px;
            padding: 0.08em 0px;
        }

        h3 {
            font-size: 13px;
            line-height: 23px;
            font-weight: 300;

        }

        h4 {
            font-size: 13px;
            color: $light-gray;
            font-weight: 500;
            line-height: 20px;
        }

        span {
            font-weight: 700;
        }
    }

    // @media screen and (min-width: 1320px) {
    //     img {
    //         height: 230px;
    //     }

    //     .station-text {
    //         .station-name {
    //             font-size: 96px;
    //             line-height: 130px;

    //         }
    //     }
    // }
}

// @media screen and (max-width: 950px) {

//     .station-header-container {
//         .station-text {
//             .station-name {
//                 font-size: 53px;
//             }
//         }

//     }
// }


// @media screen and (max-width: $tablet-width) {

//     .station-header-container {
//         .station-text {
//             .station-name {
//                 font-size: 48px;
//             }
//         }

//     }
// }



// @media screen and (max-width: $mobile-width) {

//     .station-header-container {
//         height: auto;
//         padding-inline: 30px;
//         padding-block: 0;
//         flex-direction: column;
//         align-items: flex-start;

//         .header-img-container {
//             align-self: center;
//         }

//         .station-text {
//             margin-inline-start: 0;
//             margin-top: 20px;

//             p {
//                 display: none;
//             }

//             .station-name {
//                 line-height: 30px;
//                 font-size: 20px;


//             }
//         }

//     }



// }