.station-option-container {
    padding-inline: $layout-padding;
    padding-block: 20px;
    align-items: center;

    button {
        cursor: pointer;
        background-color: transparent;
        border: none;
    }

    .station-options-share {
        color: $clr3;
    }

    .play-btn {
        font-size: 30px;
        height: 56px;
        text-align: center;
        width: 56px;
        background: $clr1;
        border-radius: 50%;

        color: black;
        margin-inline-end: 32px;

    }

    .heart-btn {
        font-size: 30px;
        align-self: center;
        color: #CBC7C7;


        &:hover {
            color: $clr3;
        }
    }

    .like-share-container {
        gap: 1rem;

        .station-options-share {

            filter: invert(96%) sepia(10%) saturate(2%) hue-rotate(51deg) brightness(105%) contrast(100%);
            display: none;
        }

        .station-options {
            color: #CBC7C7;
            font-size: 1.5625rem;
            letter-spacing: 1rem;
            justify-self: end;

            &:hover {
                color: $clr3;
            }
        }
    }
}



@media screen and (max-width: $mobile-width) {
    .station-option-container {

        margin: 0;
        padding-block: 0;
        justify-content: space-between;

        .station-options-share {
            display: block !important;
        }
        .station-options {
            display: none;
        }
        .play-btn {
            order: 3;
            margin: 0;
        }

        .heart-btn {
            font-size: 20px;
            align-self: center;
        }
    }

}