.station-header-container {
    display: grid;
    grid-template-columns: 300px repeat(2, minmax(270px, 1fr));
    grid-template-rows: repeat(auto-fill, 80px);
    height: 270px;
    margin-top: 20px;

    img {
        grid-row: 1 /span 3;
        align-self: center;
        padding-inline-start: $layout-padding;
    }



    .station-name {
        grid-column: 2/4;
        grid-row: 2;
        justify-content: end;
        transform: translateY(50%);
        color: $clr3;
        font-size: 70px;
        font-weight: 700;
        // padding-inline-start: $layout-padding;
    }
}