.station-option-container {
    padding-inline: $layout-padding;
    padding-block: 20px;

    button {
        cursor: pointer;
        background-color: transparent;
        border: none;
    }

    .play-btn {
        font-size: 30px;
        height: 56px;
        text-align: center;
        width: 56px;
        background: $clr1;
        border-radius: 50%;

        color: black;
        margin-inline-end: 32px;

    }

    .heart-btn {
        font-size: 30px;
        align-self: center;
        color: $clr1;
    }
}



@media screen and (max-width: $mobile-width) {
    .station-option-container {

        margin: 0;
        padding-block: 0;
        justify-content: space-between;


        .play-btn {
            order: 3;
            margin: 0;
        }

        .heart-btn {
            font-size: 20px;
            align-self: center;
            color: $clr1;
        }
    }

}