.track-list-head {
    height: 100%;
    font-size: 0.75rem;
    line-height: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #b3b3b3;
    border-bottom: 1px solid hsla(0, 0%, 100%, .1);
    margin: 0 0 16px;

    .p-clock {
        align-items: center;
        justify-self: end;
        font-size: 16px;

        .bi-clock {
            margin-right: 32px;
        }
    }
}

// @media (max-width: $tablet-width){
//     .track-list-head {
//         display: none;
//     }
// }