.track-preview {
    padding-inline: $base-padding;
    width: 100%;
    border-radius: 3px;
    padding: .5rem;

    gap: 5px;



    .track-play {
        flex-basis: 5%;
    }

    .track-img {
        flex-basis: 5%;

        img {
            height: 100%;
            height: 40px;
            aspect-ratio: 1;
            object-fit: cover;
        }
    }

    .track-options {
        flex-basis: 5%;
    }

    .track-title {
        flex-basis: 30%;
        font-size: 12px;

        h2 {
            font-weight: 300;
        }
    }

    .track-added-by {
        flex-basis: 20%;
    }

    .track-date-added {
        flex-basis: 20%;
    }

    .track-time {
        flex-basis: 5%;
    }

    .track-like {
        flex-basis: 5%;
        visibility: hidden;
    }

    .track-details {
        gap: 1rem;
        width: 50%;
        overflow: hidden;

    }

    .track-idx {
        color: $light-gray;
        width: 20px;
    }

    .action-btn {
        display: none;
        // width: 20px;
        font-size: 1rem;
        cursor: pointer;
        color: $clr3;
    }

    .preview-actions {
        width: 5rem;
        gap: 1rem;

    }


    &:hover {
        background: $opacityWhite;

        .action-btn {
            display: block;
        }

        .track-like {
            visibility: inherit;
            opacity: 1;
        }


        .track-idx {
            display: none;
        }
    }

    .sub-text {
        font-size: 14px;
        color: $light-gray;
    }
}



.dropdown-menu {
    background-color: $clr4;
    border: none;

    .dropdown-item {
        color: $clr3;

        &:hover {
            background-color: $opacityWhite;
            color: $clr3;

        }
    }
}