.track-preview {
    padding-inline: $base-padding;
    width: 100%;
    display: grid;
    grid-template-columns: 40px 40px 1fr 1fr 1;

    padding: .5rem;

    gap: 5px;

    .track-idx {
        color: $light-gray;
        width: 20px;
    }

    .action-btn {
        display: none;
        // width: 20px;
        font-size: 1rem;
        cursor: pointer;
        color: $clr3;
    }

    .preview-actions {
        width: 5rem;
        gap: 1rem;

    }


    &:hover {
        background: $opacityWhite;

        .action-btn {
            display: block;
        }

        .track-like {
            visibility: inherit;
            opacity: 1;
        }


        .track-idx {
            display: none;
        }
    }

    .sub-text {
        font-size: 14px;
        color: $light-gray;
    }
}



.dropdown-menu {
    background-color: $clr4;
    border: none;

    .dropdown-item {
        color: $clr3;

        &:hover {
            background-color: $opacityWhite;
            color: $clr3;

        }
    }
}