 .hero-list {
     display: grid;
     grid-template-columns: repeat(3, minmax(270px, 1fr));
     grid-template-rows: repeat(auto-fill, 80px);
     //  grid-auto-rows: 80px;
     grid-gap: 1rem;
     height: 270px;
     padding-inline: $layout-padding;
     //  background-color: red;
 }