.side-bar-container {
    grid-column: 1;
    grid-row: 1/span 2;
    background-color: $clr2;
    padding-inline: $base-padding;

    .logo {
        color: $clr3;
        font-size: 16px;
        margin-block: 24px;
    }

    .side-bar-nav {
        cursor: pointer;

        .page-link-btn {
            cursor: pointer;
            border: none;
            background-color: transparent;
            margin-block: rem(13px);
            line-height: 16px;
            color: $light-gray;
            font-size: rem(14px);

            .page-link-svg {
                width: 24px;
                color: $light-gray;
                margin-inline-end: 1em;
            }

            &:hover {
                color: $clr3;

                .page-link-svg {
                    color: $clr3;
                }
            }
        }

        .active-link {
            color: $clr3;
        }

        .create-playlist-link {
            margin-top: 30px;

        }
    }

    .stations-nav {
        border-top: .3px solid $clr3;
        flex-basis: 50%;
    }

}