.side-bar-container {
    grid-column: 1;
    grid-row: 1/span 2;
    background-color: $clr2;
    // display: flex;
    padding-inline: $side-bar-padding;

    .logo {
        color: $clr3;
        font-size: 16px;
        margin-block: 24px;
    }

    .side-bar-nav {

        .page-link-btn {
            border: none;
            background-color: transparent;
            margin-block: rem(13px);
            line-height: 16px;
            color: $light-gray;
            font-size: rem(14px);
        }

        .page-link-svg {
            width: 24px;
            color: $light-gray;
            margin-inline-end: 1em;
        }
    }
}