.station-header-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(270px, 1fr));
    grid-template-rows: repeat(auto-fill, 80px);
    height: 270px;

    .station-name {
        color: $clr3;
        padding-inline-start: $layout-padding;
    }
}