* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Inter', sans-serif;
    overflow-y: auto;
    scrollbar-gutter: revert;
}


// scrool bar 

::-webkit-scrollbar {
    position: absolute;
    position: fixed;
    width: 10px;
    right: 0;

}

::-webkit-scrollbar-corner {
    display: none;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba($clr3, 0.3);
    border-radius: 2em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba($clr3, 0.5);
}