* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    // font-family: 'Inter', sans-serif;
    font-family: 'gotham medium', sans-serif;
    overflow-y: auto;
    scrollbar-gutter: revert;
}

button {
    font-family: 'gotham medium', sans-serif;
}


// scrool bar 

::-webkit-scrollbar {
    position: absolute;
    position: fixed;
    width: 10px;
    right: 0;

}

::-webkit-scrollbar-corner {
    display: none;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba($clr3, 0.3);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba($clr3, 0.5);
}


input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    /* Set a specific slider handle width */
    /* Slider handle height */
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #ffffff;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

.pop-up-msg {
    position: absolute;
    bottom: 100px;
    padding-inline: 2em;
    border-radius: 10px;
    z-index: 14;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0a78b0;
    box-shadow: 1px 2px 20px $clr2;

    h2 {
        font-size: 14px;
        font-weight: 500;
        line-height: 40px;
        color: white;
    }
}

progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;

}

progress[value]::-webkit-progress-bar {
    background: rgba(white, 0.3);
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
    background: white;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;

}