.main-layout {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 64px 1fr 90px;
    background: linear-gradient(#570e69, $dark-gray 340px);
    height: 100vh;
    overflow: hidden;


    // .main-app {
    //     // overflow: scroll;
    //     // overflow-x: hidden;
    // }
}