.main-layout {
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 1fr 90px;
    height: 100vh;
    // background: linear-gradient($main-background, $dark-gray 24rem);
    overflow: hidden;
}

.main-app {
    background: linear-gradient(rgba(68, 36, 48, 0) 4rem, $dark-gray 136rem);
    // margin-bottom: 1rem;
}



.main-view {
    position: relative;
    grid-row: 1;
    background-color: $dark-gray;
    overflow: auto;
    z-index: 1;
    scrollbar-gutter: stable;
}

.main-view::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient($main-background 80px, $dark-gray 33rem);
}


.main-view-station {
    position: relative;
    grid-row: 1;
    background-color: $dark-gray;
    overflow: auto;
    z-index: 1;
    scrollbar-gutter: stable;
    padding-bottom: 3rem;
}

.main-view-station::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient($main-background-station 80px, $dark-gray 33rem);
}