.main-layout {
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows:  1fr 90px;
    background: linear-gradient(#442430, #121212 438px);
    height: 100vh;
    overflow: hidden;
}



.main-view {
    // grid-row: 1/ span 2;
    overflow: scroll;
    overflow-x: hidden;
    padding-bottom: 2rem;
}