.track-preview-search {
    gap: 1rem;
    width: 100%;
    border-radius: 5px;
    padding: .5rem;
    cursor: pointer;

    .track-details {
        gap: 1rem;
        width: 50%;
        overflow: hidden;

        .track-title-container {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .track-img-container {
            img {
                height: 40px;
                aspect-ratio: 1;
                object-fit: cover;
            }
        }


    }

    .action-btn {
        // visibility: hidden;
        width: .9375rem;
        font-size: 1rem;
        cursor: pointer;
        color: $clr3;
    }

    .preview-actions {
        width: 6rem;
        gap: 1rem;

    }

    .add-to-playlist-btn {
        @include add-to-playlist-btn
    }



    // .track-preview-search {
    //     display: grid;
    //     border: 1px solid transparent;
    //     border-radius: 4px;
    //     grid-template-columns: 16px 6fr 4fr 3fr minmax(120px, 1fr);
    //     grid-gap: 16px;
    //     height: 56px;
    //     position: relative;
    //     padding: 0 16px;
    //     cursor: default;


    //     img {
    //         height: 40px;
    //         aspect-ratio: 1;
    //         object-fit: cover;
    //     }


    // }


    &:hover {
        background: $opacityWhite;

        .action-btn {
            visibility: visible;
        }
    }

    .options-modal {
        background: black;
    }
}

.track-row-search {
    display: flex;
    width: 100%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 56px;
    position: relative;
    padding: 0 16px;
    cursor: default;
    border-radius: 4px;

    .track-img-title {
        // grid-column: 1 !important;
        gap: 1rem;

        button {
            flex-basis: 30px;
        }
    }

    .add-track-search-btn {
        grid-column: 3;
    }
}