.search-input-container {
    position: fixed;
    z-index: 3;
    top: 12px;
    left: 25.3125rem;



    @include search-bar-properties
}

.search-container {
    width: 100% ;
}

// @media only screen and (max-width: $tablet-width) {
//     .search-input-container {
//         position: static;
//         @include search-bar;
//         color: $clr2;
//         width: 100%;
//     }
// }