.result-preview-container {
    gap: 1rem;
    width: 100%;
    border-radius: 5px;
    padding: .5rem;
    cursor: pointer;

    .track-details {
        gap: 1rem;
        width: 50%;
        overflow: hidden;

        .track-img-container {
            img {
                height: 100%;
                width: 2.5rem;
            }
        }


    }

    .action-btn {
        visibility: hidden;
        width: .9375rem;
        font-size: 1rem;
        cursor: pointer;
        color: $clr3;
    }

    .preview-actions {
        width: 6rem;
        gap: 1rem;

    }


    &:hover {
        background: $opacityWhite;

        .action-btn {
            visibility: visible;
        }
    }

    .options-modal {
        background: black;
    }
}