.track-preview-search {
    gap: 1rem;
    width: 100%;
    border-radius: 5px;
    padding: .5rem;
    cursor: pointer;

    .track-details {
        gap: 1rem;
        width: 50%;
        overflow: hidden;

        .track-title-container {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .track-img-container {
            img {
                height: 40px;
                aspect-ratio: 1;
                object-fit: cover;
            }
        }
    }

    .action-btn {
        visibility: hidden;
        opacity: 0;
        // width: .9375rem;
        font-size: 1rem;
        cursor: pointer;
        color: $clr3;
    }


    .preview-actions {
        width: 6rem;
        gap: 1rem;

    }

    .add-to-playlist-btn {
        @include add-to-playlist-btn
    }


    &:hover {
        background: $opacityWhite;

        .action-btn {
            visibility: visible;
        }
    }

    .options-modal {
        background: black;
    }
}

.track-row-search {
    display: flex;
    width: 100%;
    justify-content: space-between;
    width: 100%;
    height: 56px;
    position: relative;
    padding: 0 16px;
    gap: 10px;
    cursor: default;
    border-radius: 4px;



    .add-track-search-btn {
        grid-column: 3;
    }
}