//flex

.flex {
    display: flex; // omg
}

.align-center {
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-end {
    justify-content: flex-end;
}

.space-between {
    justify-content: space-between;
}

.center {
    justify-content: center;
}

//text

.bold {
    font-family: 'gotham bold';
}

.light {
    font-family: 'gotham light';
}

//list 

.clean-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.svg-icon {
    width: 40px;
    height: 40px;
}

// Buttons

.clean-btn {
    background-color: transparent;
    padding: 0;
    border: none;
}

// BACKGROUNDS

.background-color,
.background-shadow {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.background-shadow {
    background: linear-gradient(transparent, rgba(0, 0, 0, .5));
}

.background-fade {
    background-image: linear-gradient(rgba(0, 0, 0, .6), #121212);
    height: 232px;
    position: absolute;
    width: 100%;
}

.long-text {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 190px;
    white-space: nowrap;
}


.hidden {
    display: none;
}