@mixin search-bar-properties {
    width: 15rem;
    height: 2rem;
    border-radius: 2rem;
    background-color: #fff;
    padding-inline: 1rem;

    input {
        width: 100%;
        height: inherit;
        border-radius: inherit;
        background: transparent;
        outline: none;
        -webkit-margin-start: 7px;
        margin-inline-start: 7px;
        border: none;
        font-size: 1rem;
    }

    .search-icon {
        background-color: transparent;
        width: 8%;
        cursor: pointer;
    }
}



@mixin add-to-playlist-btn {
    border: solid rgba($clr3, .4) 1px;
    cursor: pointer;
    line-height: 30px;
    font-weight: 700;
    padding-inline: 1.2em;
    background-color: transparent;
    color: $clr3;
    border-radius: 2em;

    &:hover {
        border: solid $clr3 1.3px;
    }
}


@mixin dark-seaerch-bar {
    border-radius: 5px;
    background: rgba($light-gray, .4);
    padding-inline: 1rem;
    color: $clr3;

    input {
        color: $clr3;
        width: 100%;
        height: inherit;
        border-radius: inherit;
        background: transparent;
        outline: none;
        -webkit-margin-start: 7px;
        margin-inline-start: 7px;
        border: none;
        font-size: 1rem;
    }
}