:root {
    --column-count: 7;
    --vh: 100vh;
}

// @media (min-width: $medium-width) {
//     :root {
//         --coulmn-count: 6;
//     }
// }
@media (max-width: 1450px) {
    :root {
        --column-count: 5;
    }
}

@media (max-width: $medium-width) {
    :root {
        --column-count: 4;
    }
}

@media (max-width: 1120px) {
    :root {
        --column-count: 3;
    }
}

@media (max-width: $tablet-width) {
    :root {
        --column-count: 3;
    }
}

@media (max-width: $mobile-width) {
    :root {
        --column-count: 2;
    }
}