// colors
$clr1: #1ed760;
$clr2: black;
$clr3: white;
$clr4: #282828;

$opacityWhite: rgba(255, 255, 255, 0.213);

//grays 
$dark-gray: #121212; // for main bg 
$light-gray: #b3b3b3; // hover playlist cards and text
$player-gray: #181818; // adudio player gray


$layout-padding: 30px;
$base-padding: 20px;

//
$tablet-width: 780px