// colors
$clr1: #1ed760;
$clr2: black;
$clr3: white;



//grays 
$dark-gray: #121212; // for main bg 
$light-gray: #b3b3b3; // hover playlist cards and text
$player-gray: #181818; // adudio player gray


$layout-padding: 50px;
$side-bar-padding: 20px