.hero-container {
    grid-row: 1;
    margin-top: 85px;
    padding-inline: $layout-padding;

    .hero-title {
        font-size: 26px;
        color: $clr3;
        margin-block: 20px;
    }

    .hero-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 75px);
        grid-gap: 1rem;

        //  background-color: red;
    }

    @media screen and(min-width: 1150px) {
        .hero-list {
            grid-template-columns: repeat(3, minmax(270px, 1fr));
            grid-template-rows: repeat(auto-fill, minmax(65px, 80px));
        }
    }
}