.hero-card {
    border-radius: 3px;
    transition: background .3s;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);

    .hero-img {
        img {
            height: 75px;

            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            aspect-ratio: 1;
            object-fit: cover;
            object-position: center;
        }
    }

    // opacity: 20%;

    .hero-card-title {
        margin-inline-start: 1em;
        color: $clr3 ;
        font-size: 16px;
        font-weight: 700;
        align-self: center;
    }

    &:hover {
        background: rgba($clr3, .3);
    }


    @media screen and(min-width: 1150px) {
        .hero-img {
            img {
                height: 80px;
            }
        }
    }
}