.hero-container {
    grid-row: 1;

    .hero-title {
        font-size: 2rem;
        line-height: 2.25rem;
        text-transform: none;
        letter-spacing: -0.04em;
        margin-block: 20px;
        color: $clr3;
    }

    .hero-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 75px);

        grid-gap: 1rem;

        //  background-color: red;
    }

    @media screen and(min-width: 1150px) {
        .hero-list {
            grid-template-columns: repeat(3, minmax(270px, 1fr));
            grid-template-rows: repeat(2, 75px);
        }
    }
}

@media screen and(max-width: 780px) {
    .hero-container {

        margin-top: 45px;

        .hero-title {
            font-size: 26px;
            color: $clr3;
            margin-block: 20px;
        }

        .hero-list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(3, 55px);

            // background-color: red;
        }
    }
}