.hero-container {
    grid-row: 1;
    margin-top: 85px;
    padding-inline: $layout-padding;

    .hero-title {
        font-size: 26px;
        color: $clr3;
        margin-block: 20px;
    }

    .hero-list {
        display: grid;
        grid-template-columns: repeat(3, minmax(270px, 1fr));
        grid-template-rows: repeat(auto-fill, 80px);
        //  grid-auto-rows: 80px;
        grid-gap: 1rem;
        height: 340px;

        //  background-color: red;
    }
}