.app-header-container {
    grid-column: 2;
    grid-row: 1;
    background-color: $dark-gray;
    padding-inline: $base-padding;

    .page-btn-container {
        gap: 1rem;
        padding-inline: 2rem;
        .pages-btn {
            cursor: pointer;
            border-radius: 3rem;
            width: 2rem;
            height: 2rem;
            justify-content: center;
            color: white;
            background: #050505;
            border: 0;
            font-weight: 800;
            font-size: 1.2rem;
        }
    }
}