.app-header-container {
    position: sticky;
    height: 64px;
    top: 0;
    // grid-column: 2;
    top: 0;
    // grid-row: 1;
    width: 100%;
    z-index: 3;
    background: rgba($clr3, 0);

    .page-btn-container {
        gap: 1rem;
        padding-inline: 2rem;

        .pages-btn {
            cursor: pointer;
            border-radius: 3rem;
            width: 32px;
            height: 32px;
            justify-content: center;
            color: white;
            background: rgba($clr2, $alpha: .6);
            border: 0;
            font-weight: 800;
            font-size: 1.2rem;
        }
    }
}