.player-container {
    grid-column: 1/-1;
    grid-row: 3;
    background: $player-gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $light-gray;
    padding-inline: $base-padding;

    .player-song-controllers{
        gap: 5px;
    }

    .curr-song{
        height: 56px;
        width: 56px;
    }
}