.player-container {
    grid-column: 1/-1;
    grid-row: 2;
    background: $player-gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $light-gray;
    padding-inline: $base-padding;
    // z-index: 600;

    .test1 {
        width: 33.5%;
    }

    .player-track-controllers {
        gap: 30px;
        margin-bottom: 10px;
    }

    .curr-track-img-container {
        aspect-ratio: 1;
        overflow: hidden;
    }

    .curr-track-img {
        width: 56px;
        height: 56px;
        object-fit: cover;
        transform: scale(1.4)
    }

    .track-details {
        align-items: center;
        gap: 10px;
        min-width: 30%;

        .song-info {
            max-width: 60%;

            .curr-track-singer {
                font-size: 11px;
                cursor: pointer;

                &:hover{
                    color: #fff;
                    text-decoration: underline;
                }
            }

            .curr-track-name {
                font-size: 14px;
                color: #fff;
                @include dots-when-break;
            }
        }
    }

    button {
        background-color: transparent;
        padding: 0;
        border: none;
        cursor: pointer;
    }

    span {
        filter: invert(89%) sepia(6%) saturate(17%) hue-rotate(315deg) brightness(82%) contrast(84%);
    }

    span:hover {
        filter: invert(99%) sepia(100%) saturate(0%) hue-rotate(116deg) brightness(103%) contrast(100%);
    }

    .like-btn {
        margin-left: 16px;
        left: 35%;

        .green-heart {
            filter: invert(61%) sepia(75%) saturate(531%) hue-rotate(87deg) brightness(98%) contrast(84%);
        }
    }

    .btn-play {
        display: flex;
        background-color: rgb(255, 255, 255);
        width: 32px;
        height: 32px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        cursor: default;

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            filter: invert(0%)
        }
    }

    .volume-container {
        display: flex;
        align-items: center;
        gap: 7px;
        min-width: 30%;
        justify-content: end;

        span{
            display: flex;
        }
    }

    .volume-bar {
        -webkit-appearance: none;
        appearance: none;
        background-color: transparent;
        border-radius: 26px;
        position: relative;
        height: 4px;
        width: 93px;
        opacity: 0;
        z-index: 1;
        height: 4px;


        &:hover {
            opacity: 1;


        }
    }


    .progress-bar-container {
        position: relative;
        justify-content: center;
        width: 100%;
        font-size: 0.6875rem;
        line-height: 1rem;
        gap: 7px;
    }


    .progress-bar-range {
        position: absolute;
        -webkit-appearance: none;
        width: 100%;
        appearance: none;
        background-color: transparent;
        opacity: 0;
        z-index: 1;
        height: 3px;


        &:hover {
            opacity: 1;

        }

        &[value]:hover {
            background-color: green;
        }

    }

    .progress-bar {
        position: absolute;
        width: 100%;
        // z-index: 1;
        height: 3px;

    }

    .progress-bar-volume {

        position: absolute;
        width: 93px;
        height: 3px;
    }

    .progress-bar-nums1 {
        position: absolute;
        transform: translateX(-140%);
    }

    .progress-bar-nums2 {
        position: absolute;
        right: 0;
        transform: translateX(140%);
    }
}


.progress-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


.progress-bar-container {
    flex-direction: column;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    gap: 4px;

    .progress-bar-range {
        height: 4px;
    }

    .progress-bar-time {
        justify-content: space-between;
    }
}

// .progress-bar-range:hover progress::-webkit-progress-value {
//     background: green !important;
// } 