.side-bar-container {
    grid-column: 1;
    grid-row: 1/span 2;
    background-color: $clr2;
    padding-inline: $base-padding;

    .logo {
        color: $clr3;
        font-size: 16px;
        margin-block: 24px;
        align-items: center;

        h2 {

            font-weight: 700;
        }

        .logo-svg {
            height: 40px;
            margin-inline-end: .6em;
        }
    }

    .side-bar-nav {
        height: 350px;
        border-bottom: solid 1px rgba($clr3, .3);

        .page-link-btn {
            cursor: pointer;
            border: none;
            width: 100%;
            background-color: transparent;
            height: 40px;
            color: $light-gray;
            font-size: 1rem;

            .page-link-svg {
                width: 24px;
                font-size: 20px;
                color: $light-gray;
                margin-inline-end: 1em;
            }

            &:hover {
                color: $clr3;

                .page-link-svg {
                    color: $clr3;
                }
            }
        }

        .active-link {
            color: $clr3;
        }

        .create-playlist-link {
            margin-top: 20px;

        }
    }

    .side-bar-station-list {
        overflow-y: scroll;
        flex-basis: 50%;
        border-top: .5px solid rgba($clr3, 0.3);

        .station-side-link {
            cursor: pointer;
            width: fit-content;
            font-size: 14px;
            line-height: 32px;
            font-weight: 200;

            color: $light-gray;

            &:hover {
                color: $clr3;
            }
        }
    }
}

@media (max-width: $tablet-width) {

    .side-bar-container {
        padding: 0;
        grid-column: 1;
        grid-row: 3;
        background-color: $clr2;

        .logo {
            display: none;
        }

        .side-bar-nav {
            display: flex;
            align-items: center;
            padding-inline: 10px;
            justify-content: space-between;

            .page-link-btn {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                border: none;
                height: 100%;
                color: $light-gray;

                .page-link-svg {
                    font-size: 32px;
                    margin: 0;
                    padding-block: 2px;
                    color: $light-gray;
                }

                &.create-playlist-link {
                    display: none;
                }

                &.liked-songs-link {
                    display: none;
                }
            }

            .active-link {
                color: $clr3;
            }
        }

        .side-bar-station-list {
            display: none;
        }
    }

}