.home-container {
    position: relative;
    overflow: scroll;
    overflow-x: hidden;
    grid-row: 2;

    .home-stations-desktop {
        padding-inline-start: $layout-padding;

        h1 {
            text-transform: capitalize;
            margin-block: 20px;
        }

        &.mobile {
            display: none
        }
    }
}

.gradient {
    background: linear-gradient(#3e48d6, $dark-gray 240px);
    height: 240px;
    top: 0;
}


//temp  


@media (max-width: $tablet-width) {

    .home-container {
        grid-row: 1;
        grid-column: 1 /sapn 2;

        .home-stations-desktop {
            display: none;
        }

        .home-stations-mobile {
            padding-inline-start: $layout-padding;

            h1 {
                text-transform: capitalize;
                margin-block: 20px;
            }
        }
    }


}