.search-page-container {
    grid-column: 2;
    grid-row: 2;
    padding-inline: $layout-padding;
    margin-top: 1rem;
}


@media (max-width: $tablet-width) {
    .search-page-container {
        grid-column: 1;
        grid-row: 1;
        padding-inline: 10px;
    }
}