.station-container {
    overflow: hidden;
    grid-column: 2;
    // grid-row: 2;

    .station-main-container {
        background: rgba($dark-gray, 0.2);
    }


    .station-search {
        padding-inline: $layout-padding;

        .station-seaerch-main-txt {
            font-size: 25px;
            letter-spacing: -1px;
            font-weight: 500;
            padding-block: 1.4rem;
        }


        .station-search-bar {
            @include search-bar;
            background-color: rgba($dark-gray, 0.2);
            height: 40px;
            width: 350px;
            margin-bottom: 20px;

        }
    }
}


.station-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 210px));
    grid-template-rows: repeat(auto-fill, minmax(250px, 300px));
    gap: 20px
}


@media (max-width: $tablet-width) {
    //Todo
}