@media (max-width: $tablet-width) {
    .app-header-container {
        grid-column: 1;
        height: 4rem;
        // z-index: 10;

        .btns-container .login {
            display: none;
        }

        .user-avatar {
            display: none;
        }
    }

    .avatar-name {
        display: none;
    }
}