@media (max-width: $tablet-width) {
    .overlay {
        grid-row: 1 /span 3;
        position: fixed;
        padding-top: 3rem;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);

        backdrop-filter: blur(4px);
        z-index: 1000;
        transition: all 0.5s;
    }
}

.no-hover {
    pointer-events: none;
}