@media (max-width: $tablet-width) {


    .home-container {
        padding-inline: 10px;

        .home-stations-desktop {
            display: none;
        }

        .home-stations-mobile {
            display: block;
            // padding-inline-start: $layout-padding;

            h1 {
                text-transform: capitalize;
                margin-block: 20px;
            }
        }
    }


    // HERO

    .hero-container {

        margin-top: 45px;

        .hero-title {
            font-size: 26px;
            color: $clr3;
            margin-block: 20px;
        }

        .hero-list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(3, 55px);

            // background-color: red;
        }
    }

    .hero-card {
        border-radius: 3px;
        transition: background .3s;
        cursor: pointer;
        background: rgba(255, 255, 255, 0.1);

        .hero-img {
            img {
                height: 100%;

                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                aspect-ratio: 1;
                object-fit: cover;
                object-position: center;
            }
        }

        // opacity: 20%;

        .hero-card-title {
            font-size: 13px;
            margin-inline-start: 1em;
            color: $clr3 ;
            font-weight: 700;
            align-self: center;
        }

        &:hover {
            background: rgba($clr3, .3);
        }
    }

}