@media only screen and (max-width: $tablet-width) {


    .home-container {
        padding: $layout-padding-mobile;

        .home-stations-desktop {
            display: none;
        }

        .home-stations-mobile {
            display: block;

            // margin-bottom: 3rem;
            h1 {
                text-transform: capitalize;
                margin-block: 20px;
            }
        }
    }


    // HERO

    .hero-container {

        margin-top: 45px;

        .hero-title {
            font-size: 26px;
            color: $clr3;
            margin-block: 20px;
        }

        .hero-list {
            display: grid;
            width: 100%;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(3, 62px);

            // background-color: red;
        }
    }

    .hero-card {
        border-radius: 3px;
        transition: background .3s;
        cursor: pointer;
        background: rgba(255, 255, 255, 0.1);

        .hero-img {
            img {
                height: 64px;
                width: 64px;

                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                aspect-ratio: 1;
                object-fit: cover;
                object-position: center;
            }
        }

        // opacity: 20%;

        .hero-card-title {
            font-size: 13px;
            margin-inline-start: 1em;
            color: $clr3 ;
            font-weight: 700;
            align-self: center;
        }

        &:hover {
            background: rgba($clr3, .3);
        }
    }

}

@media screen and(min-width: 1150px) {
    .hero-list {
        grid-template-columns: repeat(3, minmax(270px, 1fr));
        grid-template-rows: repeat(2, 75px);
    }
}