@media (max-width: $tablet-width) {
    .main-layout {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 100px 70px;
    }

    .main-view {
        grid-column: 1;
        position: absolute;
        grid-row: 1 / -1;
        overflow-y: scroll;
        margin-top: 5rem;
        z-index: -1;
    }

    .main-view-station {
        grid-column: 1;
        grid-row: 1 / -1;
        overflow-y: scroll;
        margin-top: 5rem;
    }

}