@media (max-width: $tablet-width) {
    .player-container {
        position: relative;
        grid-column: 1 /span 2;
        grid-row: 2;
        width: 100%;
        margin-top: 3rem;
        border-radius: 6px;
        padding-inline: 10px;
        background-color: rgb(53 14 59);
        height: 56px;

        .volume-container {
            display: none;
        }

        .track-details {
            width: 100%;
        }

        .song-info {
            display: flex;
            flex-direction: column;
            gap: 2px;
        }

        .curr-track-img {
            height: 40px;
            width: 40px;
            aspect-ratio: 1;
            object-fit: cover;
        }

        .btn-play {
            background-color: transparent;
            padding: 0;
            border: none;

            span {
                filter: invert(100%);
            }
        }

        .player-track-controllers {
            justify-content: end;
            margin-bottom: 0;

            svg {
                width: 24px;
                height: 24px;
            }

        }

        button:not(.btn-play) {
            display: none;
        }

        .test1 {
            width: 70%;
        }

        .progress-bar-container {
            position: absolute;
            bottom: 0%;
            width: 94.7%;
            right: 2.7%;
            align-items: center;
            font-size: 0.6875rem;
            line-height: 1rem;
            gap: 7px;
            z-index: 5;

            .progress-bar-range {
                width: 500px;
            }

            .nums {
                display: none;
            }
        }
    }

    .full-screen {
        display: flex;
        position: absolute;
        padding-top: 2rem;
        padding-bottom: 2rem;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, #121212 14%, #693508 103%);
        backdrop-filter: blur(4px);
        z-index: 100;
        // transition: all 0.5s;
        animation: slide_up 0.3s;
        padding-inline: $base-padding;
        flex-direction: column;
        justify-content: space-between;
        color: $light-gray;
        gap: 20px;

        .like-name-container {
            justify-content: space-between;
            margin-bottom: 20px;
        }

        .song-info {
            flex-direction: column;
        }

        .full-screen-nav {
            justify-content: space-between;
            align-items: center;
        }

        .all-controllers {
            flex-direction: column;
            flex-grow: 0.1;
            justify-content: space-between;
        }

        .curr-track-img-container {
            aspect-ratio: 1;
            overflow: hidden;
        }

        .curr-track-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: scale(1.4)
        }

        .song-info{
            max-width: 85%;
            .curr-track-singer {
                font-size: 11px;
            }
    
            .curr-track-name {
                font-size: 32px;
                font-weight: 700;
                letter-spacing: -0.04em;
                line-height: 36px;
                color: rgb(255, 255, 255);
                @include dots-when-break;
            }
        }

        span {
            filter: invert(89%) sepia(6%) saturate(17%) hue-rotate(315deg) brightness(82%) contrast(84%);
        }

        .like-btn {
            margin-left: 16px;

            .green-heart {
                filter: invert(61%) sepia(75%) saturate(531%) hue-rotate(87deg) brightness(98%) contrast(84%);
            }
        }

        button {
            background-color: transparent;
            padding: 0;
            border: none;
            cursor: pointer;

            svg {
                width: 32px;
                height: 32px;
            }
            .side svg{
                width: 20px;
                height: 20px;
            }
        }


        .btn-play {
            background-color: rgb(255, 255, 255);
            width: 64px;
            height: 64px;
            border-radius: 50%;

            span {
                filter: invert(0%)
            }
        }
    }

   

    .player-track-controllers {
        justify-content: space-between;
    }
}