@media only screen and (max-width: $tablet-width) {
    .search-input-container {
        position: static;
        @include search-bar;
        color: $clr2;
        width: 100%;
        margin-bottom: 1rem;
    }

    .track-row-search {
        padding: 0 4px;
        grid-template-columns: 1fr 65px;
        .action-btn {
            display: none !important;
        }
        .sound-bar {
            display: none !important;
        }
        .play-pause {
            display: none;
        }

        .track-search-options {
            grid-column: 2;
        }

        .track-img-title {
            grid-column: 1;
            gap: 1rem;
        }

        .play-btn-search {
            color: $clr3;
        }
    }
}

@media (max-width: $tablet-width) {
    .search-page-container {
        grid-column: 1;
        grid-row: 1;
        padding: $layout-padding-mobile;
    }
}