@media (max-width: $tablet-width) {

    .side-bar-container {
        padding: 0;
        grid-column: 1;
        grid-row: 3;
        background-color: $clr2;
        z-index: 50;

        .logo {
            display: none;
        }

        .side-bar-nav {
            display: flex;
            align-items: center;
            padding-inline: 10px;
            justify-content: space-between;

            .page-link-btn {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                border: none;
                height: 100%;
                color: $light-gray;

                .page-link-svg {
                    font-size: 32px;
                    margin: 0;
                    padding-block: 2px;
                    color: $light-gray;
                }

                &.create-playlist-link {
                    display: none;
                }

                &.liked-songs-link {
                    display: none;
                }
            }

            .active-link {
                color: $clr3;
            }
        }

        .side-bar-station-list {
            display: none;
        }
    }

}