@media (max-width: 780px) {
    .station-card {
        background: none;
    }

    .station-preview-play-btn {
        display: none;
    }

    .station-header-container {
        .station-text {
            .station-name {
                font-size: 53px;
            }
        }
    }
}

@media screen and (max-width: $tablet-width) {

    .station-header-container {
        .station-text {
            .station-name {
                font-size: 48px;
            }
        }

    }
}

@media screen and (max-width: $mobile-width) {

    .station-header-container {
        height: auto;
        padding-inline: 30px;
        padding-block: 0;
        flex-direction: column;
        align-items: flex-start;

        .header-img-container {
            align-self: center;
        }

        .station-text {
            margin-inline-start: 0;
            margin-top: 20px;

            p {
                display: none;
            }

            .station-name {
                // line-height: 30px;
                font-size: 20px;
            }
        }
    }

    .station-tracks-container {
        padding-inline-start: 1rem;
        padding-inline-end: 0;
    }

    // STATION OPTION 
    .station-option-container {
        margin: 0;
        padding-block: 0;
        justify-content: space-between;
        padding-inline-start: 1rem;


        .station-options-share {
            display: block !important;
        }

        .station-options {
            display: none;
        }

        .play-btn {
            order: 3;
            margin: 0;
        }

        .heart-btn {
            font-size: 20px;
            align-self: center;
        }
    }

    .station-card {
        padding: 0;
    }
}

@media screen and (max-width: $medium-width) and (min-width: $tablet-width) {
    .station-header-container {
        img {
            height: 190px;
        }

        .station-text {
            .station-name {
                font-size: 60px;
                // line-height: 130px;
            }
        }
    }
}