@media (max-width: 780px) {
    .station-card {
        background: none;
    }

    .station-preview-play-btn {
        display: none;
    }

    .station-header-container {
        .station-text {
            .station-name {
                font-size: 53px;
            }
        }
    }
}

@media screen and (max-width: $tablet-width) {

    .station-header-container {
        .station-text {
            .station-name {
                font-size: 48px;
            }
        }

    }
}

@media screen and (max-width: $mobile-width) {

    .station-header-container {
        height: auto;
        padding-inline: 30px;
        padding-block: 0;
        flex-direction: column;
        align-items: flex-start;

        .header-img-container {
            align-self: center;
        }

        .station-text {
            margin-inline-start: 0;
            margin-top: 20px;

            p {
                display: none;
            }

            .station-name {
                line-height: 30px;
                font-size: 20px;
            }
        }
    }

    // STATION OPTION 
    .station-option-container {
        margin: 0;
        padding-block: 0;
        justify-content: space-between;

        .station-options-share {
            display: block !important;
        }

        .station-options {
            display: none;
        }

        .play-btn {
            order: 3;
            margin: 0;
        }

        .heart-btn {
            font-size: 20px;
            align-self: center;
        }
    }
}

@media screen and (min-width: 1320px) {
    img {
        height: 230px;
    }

    .station-text {
        .station-name {
            font-size: 96px;
            line-height: 130px;
        }
    }
}