@media (max-width: $tablet-width) {
    .track-list-head {
        display: none;
    }

    .track-preview {
        .track-play {
            display: none;

        }

        .track-img-title {
            grid-column: 1;
        }

        .mobile-options {
            grid-column: 2;
        }
    }

    .track-date-added,
    .track-added-by,
    .track-time {
        display: none !important;
    }

    .mobile-options {
        display: flex;
        // justify-content: flex-end;
    }

    .track-list-row {
        padding: 0;
        grid-template-columns: 1fr 26px;
        width: 100%;

        &:hover {
            background: transparent;
        }
    }


}

@media (min-width: $mobile-width) {}